<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    {{!-- <nav class="navbar navbar-expand-lg bg-dark-subtle ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> --}}

<section id="one">
        <nav id="nav">

            <div class="nav-logo">
                <div class="nav-heading">
                    <span href="#"><i class="fas fa-paw logo white"></i>Dogs Care</span>

                </div>

                <div class="hamburger">
                    <a href="#"><i class="far fa-moon white "></i></a>
                    <a href="#"><i class="fas fa-bars "></i></a>

                </div>
            </div>

            <ul class="nav-links">

                <li><a>HOME</a></li>
                <li><a>ABOUT</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a>

                </li>
                <li><a>CONTACT</a></li>



                <div class="search-section">
                    <span class="search"><input type="search" placeholder="Enter to search"> <button
                            class="search-btn"><i class="fas fa-search"></i></button></span>
                </div>

                <span><i class="far fa-moon white night"></i></span>

            </ul>


        </nav>




    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>